   @import "colorcodes";
   @import "signup";
   @import "services";
   @import "ourapproach";
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   body {
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
     overflow-y: scroll;
   }

   .drophover:hover {
     background-color: $bg-color;
     transition: all 1s ease-in-out;
   }

   .nav-link:hover {
     color: rgb(247, 4, 4);
     transition: all 0.6s ease-in;
   }

   .menu {
     position: relative;
     width: 100%;
     z-index: 9999;
   }

   .my-navbar {
     width: 100%;
     padding: 0px 0px;
     background-color: $colorwhite;
     position: absolute;
     top: 0px;

     /* change here */
     left: 0;
     z-index: 999;
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
     position: fixed;
   }

   .nav-item .nav-link {
     font-family: "Oswald", sans-serif;
     font-size: 15px;
     font-weight: 400;
     text-transform: uppercase;
     margin: 0px 10px;
     position: relative;
     color: black;

     &:before {
       position: absolute;
       left: 0;
       content: "";
       bottom: 0;
       width: 100%;
       height: 2px;
       transform: scaleX(0);
       transform-origin: left;
       background-color: rgb(199, 9, 9);
       transition: 0.5s;
     }
   }

   li:hover {
     background-color: $colordeepsky;
     border-radius: 10%;
     transition: 2s all;
   }

   .nav-item .nav-link:hover:before {
     transform: scaleX(1);
     transform-origin: right;
   }

   .navbar-brand {
     text-transform: capitalize;
     font-size: 35px;
     color: #2f3542;
     font-style: italic;
     font-family: "Oswald", sans-serif;
     font-weight: bold;
   }

   .navbar-scroll {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: rgba(255, 255, 255, 0.7);
     padding: 5px 20px;
     transition: 0.5s;
     animation: scroll 0.6s 1;
   }

   @keyframes scroll {
     0% {
       transform: translateY(-100%);
     }

     100% {
       transform: translateY(0%);
     }
   }

/* Home design */
   .home-image{
    margin: 0;
    padding: 0;
    background-image: url("../images/square-background.webp");
    width: 100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#head-title{
  margin-top: 200px;
  font-size: 40px;
 
    color: white;
    font-weight: bold;
}
.banner-animation{
    float: right;
    height: auto;
    width: auto;
    margin-top: 100px;
    animation: scale 7s linear infinite;
}
.contact-btn-home{
     margin-top: 20px;
     height: 50px;
     width: 200px;
     background-color: black;
}
.home-btn{
     color: white;
     background-color: crimson;
     font-size: bold;
     font-size: 20px;
}
    
  @keyframes scale {
    50% {
      -webkit-transform:scale(1.1);
      -moz-transform:scale(1.3);
      -ms-transform:scale(1);
      -o-transform:scale(1);
      transform:scale(1.1);
    }
  }

   #approach {
     margin-top: 20px;
     text-align: center;
     font-size: 40px;
     font-weight: bold;
   }

#distinctive-img{
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/digital-learning.webp");
      height: auto;
      max-width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
}

.heroes-bg{
  background-image: url("../images/heroes-bgimage.jpg");
  max-width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 40px;
  // margin:5px
}
.our-heroes{
  margin: 40px;
  transition: transform .2s;
}
.our-heroes:hover{
   transition: 0.5s ease-in;
   transform: scale(1.2);
   
}
   /* Home Page css  */
   .reimagin-backdesign {
     background-image:url("../images/icons8-team.jpg");
     height: 600px;
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Aclonica';font-size: 22px;
     line-height: 2.6rem;
     opacity: 1;
   }

   .reimagine {
     margin-top: 20px;
     color: black;
   }
   .search-styling:hover {
     background-color: red;
     width: 200px;
     border-radius: 2px;
   }
   /*  Ourservice css card design */
   .cardleft {
     margin-top: 25px;
     height: 430px;
     width: 300px;
     background-color: #0b3a47;
     color: white;
   }

   .cardmid {
     height: 480px;
     width: 100%;
     background-color: #0b3a47;
     color: white;
   }

   .cardmid-shadow {
     box-shadow: 1px 1px 1px 5px white;
   }

   .cardright {
     @extend .cardleft
   }

//  Review section

.reviews{
  height: 350px;
  width: 100%;   
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%,
   rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%,
    rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );   
}

.ourclients ,#ourclient{
  height: auto;
  width: 100%; 
  background-image: url("../images/wpcave.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
   /* Career Page css */
   .caroimage,
   .carousel {
     margin-top: 20px;
     width: 100%;
     height: 520px;
   }

   .career-page-cards {
     margin: auto;
     padding: 10px;
   }

   .careercontainer {
     margin: 40px;
   }

   .menu-alignment {
     display: inline;
     list-style: none;
     margin: 20px;
     font-weight: bolder;
     padding: 200px;
     width: 100%;
     height: 50px;
     color: $colorpurple;
   }

   a {

     &:link,
     &:visited,
     &:hover,
     &:active {
       text-decoration: none;
     }
   }

   .fileupload {
     /* margin-top: 20px; */

     height: 200px;
     width: 100%;
     background-color: rgba(221, 242, 252, 0.952);
     border-left: 20px solid $darkdeepsky;
     border-right: 20px solid $darkdeepsky;
     border-top: 3px solid $darkdeepsky;
   }

   .fileupload-label {
     margin-top: 40px;
     border: 3px solid $darkdeepsky;
     margin-left: auto;
     margin-right: auto;
     width: 20%;
     height: 50px;
     background-color: $bg-color;
   }

   .job-description {
     &:nth-child(odd) {
       height: 387px;
       width: 100%;
       background-color: rgba(221, 242, 252, 0.952);
       color: $darkdeepsky;
       font-weight: bolder;
     }
     &:nth-child(even) {
       height: 387px;
       width: 100%;
       color: $darkdeepsky;
       font-weight: bolder;
     }
   }

   .job-des-marginpadding {
     margin-top: 50px;
     text-align: center;
   }

   button.bttn:hover {
     border: 3px solid red;
     height: 30px;
     width: 130px;
     transition: 0.7s ease-in-out;
   }

   .routine {
     height: auto;
     background-image: url("../images/colourfull.jpg");
     background-size: cover;
   }

   /* Career page end till img  */
   .bgimage {
     background-image: url("../images/information.jpg");
     height: 500px;
     width: 100%;
     background-attachment: fixed;
   }

   .footer-container {
     margin-top: 70px;
     background-color: $colorwhite;
     height: auto;
     max-width:auto;
     border-radius: 10px;
     box-shadow: 0 0 10px 5px $bg-color;
   }

   input[type=email] {
     /* margin-left: 100px; */
     text-align: center;
     display: block;
     margin-right: auto;
     margin-left: auto;
     border: 2px solid $colordeepsky;
   }

   #bttn {
     margin-top: 15px;
     background-color: $colordeepsky;

     &:hover {
       transition: ease-in-out 1s;
       color: $colordeepsky;
       background-color: transparent;
       border-radius: 1px solid $colordeepsky;
       text-decoration: none;
     }
   }

   .footer-section {
     /* margin-top: 0px; */
     background-color: rgb(2, 67, 88);
     height: 400px;
   }

   .footerdesign {
     height: auto;
     background: #0b3a47;
     border-top-left-radius: 150px;
   }

   .footercolumn {
     margin-top: 60px;
     font-weight: bold;
     font-size: 25px;
     color: $colorwhite;
     margin: 10px;
   }

   .footer-font {
     margin-top: 25px;
     margin-right: 10px;
     font-size: 15px;
     width: 200px;
   }

   .footer-font-service {
     color: $colorwhite;
     text-decoration: none;
   }

   .divicon {
     margin-top: 40px;
     font-size: 50px;
     color: $colorwhite;
     text-decoration: none;
   }

   .icon {
     color: $colorwhite;
     text-decoration: none;
   }

   .caroimage,
   .carousel {
     margin-top: 20px;
     width: 100%;
     height: 520px;
   }

   .career-page-cards {
     margin: auto;
     padding: 10px;
   }

   /* Css career end here*/

   /*Contact us page css*/
   .contactus-image {
     background-image: url("../images/information.jpg");
     height: 450px;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
   }

   .contact-title {
     text-align: center;
     color: rgb(248, 0, 0);
     font-size: 40px;
     font-weight: bolder;
   }

   #contactus-bttn {
     height: 43px;
     width: 130px;
     display: block;
     border: 3px solid red;
     border-radius: 20px;
     background-color: rgb(241, 11, 49);
     color: white;

     &:hover {
       background-color: white;
       color: red;
       transition: 0.5s ease;
     }
   }

   #forms {
     height: auto;
     background-color: rgba(221, 242, 252, 0.952);
   }

   .contact-align {
     margin-top: 30px;
     text-align: center;
     background-color: rgba(221, 242, 252, 0.952);
   }

   .bgcontactus {
     background-color: rgba(221, 242, 252, 0.952);
   }

   .input-fields-align {
     border: 0px solid;
     background-color: white;
     border-bottom: 2px solid deepskyblue;
     text-align: center;
     height: 35px;
     width: 65%;
     border-radius: 30px;
   }

   iframe {
     background-color: rgba(221, 242, 252, 0.952);
     height: 300px;
     width: 100%;
     mask-border-slice: 2px;
   }

   .country-contact {
     text-align: center;
   }

   .careercontainer {
     margin: 40px;
   }

   .menu-alignment {
     /* text-align: center; */
     display: inline;
     list-style: none;
     margin-left: 70px;
     font-weight: bolder;
     padding: 2px;
     width: 100%;
     height: 50px;
     color: $colorpurple;
   }

   a {

     &:link,
     &:visited,
     &:hover,
     &:active {
       text-decoration: none;
     }
   }

   .whyjoinus-page {
     margin-top: 20px;
     height: 500px;
     width: 100%;
     background-color: powderblue;
   }